# Builds de aplicações .NET

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Sobre Visual Studio Code

.vscode

# Python Environments

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files

__pycache__/
*.py[cod]
*$py.class
